In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Bali Popular Destination for Tourist 2022 - Sheet1.csv')

In [3]:
dataset.head()

,Place,Location,Coordinate,Google Maps Rating,Google Reviews (Count),Source,Description,Tourism/Visitor Fee (approx in USD)
0,Tanah Lot,"Beraban, Kec. Kediri, Kabupaten Tabanan, Bali ...","8.6212° S, 115.0868° E",4.6,75899,https://www.google.com/maps/place/Tanah+Lot/@-...,is a rock formation off the Indonesian island ...,"Yes, entrance tickets cost 20,000 Rupiah for I..."
1,Mount Batur,"Bangli Regency, Bali, Indonesia",8°14′20″S 115°22′39″E,4.5,2580,https://www.google.com/maps/place/Mt+Batur/@-8...,Mount Batur (Gunung Batur) is an active volcan...,"Yes, The Mount Batur trekking price is around ..."
2,Uluwatu Temple,"Uluwatu (South Kuta, Badung)","8.8291° S, 115.0849° E",4.6,28800,https://www.google.com/maps/place/Uluwatu+Temp...,The temple is regarded as one of the sad kahya...,"Yes, The Uluwatu Temple Bali entrance fee is I..."
3,Ubud Monkey Forest,"Jl. Monkey Forest, Ubud, Kecamatan Ubud, Kabup...","8.5194° S, 115.2606° E",4.5,36099,https://www.google.com/maps/place/Sacred+Monke...,"Mandala Suci Wenara Wana, or well known as Ubu...","Yes, Visit to the Ubud Monkey Forest are subje..."
4,Goa Gajah,"Gianyar Regency, Bali","8.5069° S, 115.2625° E",4.2,6683,https://www.google.com/maps/place/Goa+Gajah/@-...,"Goa Gajah, or Elephant Cave, is located on the...","Yes, Adult 50.000 IDR ($3.4 USD), Child 25.000..."

In [4]:
x = dataset.iloc[:, [2,3]].values
y = dataset.iloc[:, -1].values

In [5]:
print(x)

[['8.6212° S, 115.0868° E' 4.6]
 ['8°14′20″S 115°22′39″E' 4.5]
 ['8.8291° S, 115.0849° E' 4.6]
 ['8.5194° S, 115.2606° E' 4.5]
 ['8.5069° S, 115.2625° E' 4.2]
 ['8°22\'07.1"S 115°07\'49.7"E' 4.7]
 ['8.4028° S, 115.2880° E' 4.4]
 ['8° 16′ 31″ S, 115° 9′ 59″ E' 4.7]
 ['8.6913° S, 115.1682° E' 4.5]
 ['8.7941° S, 115.2302° E' 4.6]
 ['8.3739° S, 115.4522° E' 4.5]
 ['8.7185° S, 115.1686° E' 4.5]
 ['8° 23′ 29.24″ S, 115° 37′ 52.7″ E' 4.3]
 ['8° 29′ 4.08″ S, 115° 26′ 41.02″ E' 4.3]
 ['8° 24′ 52.8″ S, 115° 18′ 57.6″ E' 4.6]
 ['8°8′S 114°29′E' 4.5]
 ['8.8104° S, 115.1676° E' 4.5]
 ['8.5913° S, 115.2659° E' 4.4]
 ['8°36′0″S 115°15′4″E' 4.6]
 ['8.4123° S, 115.5873° E' 4.6]
 ['8.5754° S, 115.2888° E' 4.3]
 ['8°29\'36.9"S 115°14\'21.2"E' 4.5]
 ['8.7286° S, 115.1694° E' 4.7]
 ['8.5036° S, 115.2547° E' 4.4]
 ['8° 35\' 27.024" S, 115° 20\' 31.344" E' 4.4]
 ['8.6717° S, 115.2339° E' 4.6]
 ['8.5965° S, 115.2826° E' 4.3]
 ['8.4631° S, 115.6307° E' 4.6]
 ['8.3727° S, 115.1933° E' 4.6]
 [' 8°25′19″S, 115°21′32″E' 4.8]
 ['8.2105° S, 114.9671° E' 4.3]
 ['8.4227° S, 115.2788° E' 4.5]
 ['8.5516° S, 115.4688° E' 4.7]
 ['8.6595° S, 115.1301° E' 4.4]]

In [6]:
print(y)

['Yes, entrance tickets cost 20,000 Rupiah for Indonesian nationals (Rp 15,000 for children), but foreigners have to pay three times the price, or Rp 60,000 (Rp 30,000 for children).'
 'Yes, The Mount Batur trekking price is around IDR 100.000 ($6.38 USD) per person. It may vary from one season to another. The Mount Batur trek cost will be around IDR 800.000 ($51 USD) for 3 people inclusive of registration, private transfer, and a guide till 1PM.'
 'Yes, The Uluwatu Temple Bali entrance fee is IDR 30,000 ($2 USD) per person for adults and IDR 15,000 ($1 USD) for children'
 'Yes, Visit to the Ubud Monkey Forest are subject to an entrance fee of 50,000 IDR ($3 USD) per person for adult, and 40,000 IDR ($2.6 USD) per person for kid. The ticket can be bought at the ticket counter which located just before the entrance gate of the forest.'
 'Yes, Adult 50.000 IDR ($3.4 USD), Child 25.000 IDR($ 1.6 USD), Parking 2500 - 10000 IDR ($ 0.15 USD - 0.64 USD)'
 'Yes, The entrance fee for Jatiluwih Rice Terrace is 40,000 IDR per person (about $3 USD) and an extra 5,000 IDR (35c USD) for the car park.'
 'Yes, 15.000 IDR ($1) per person, and 5000 ($ 0.33 USD) IDR for parking.'
 'Yes, Adult 50.000 IDR ($3.4 USD), Child 25.000 IDR($ 1.6 USD), Parking 2500 - 10000 IDR ($ 0.15 USD - 0.64 USD)'
 'Yes, depending on location and places visited.'
 'Yes, depending on location and places visited.'
 'Yes, visit to the Besakih Temple (Pura Besakih) are subject to an entrance fee of IDR 60,000 IDR ($ 4 USD) per person for adult, and IDR 30,000 ($ 2 USD) IDR per person for kid.'
 'Kuta Beach is accessible 24 hours, 7 days a week. No entrance fee is required. Beach chairs with umbrellas cost Rp50. 000 ($ 3.4 USD)'
 'If previously visitors could explore the temple and give donations. Now for international visitors, the entrance fee is Rp55.000. The admission ticket doesn’t include a sarong, prepare Rp10.000 for the rent or bring one. Besides the entrance ticket, now to get to the temple visitors will have to park their private vehicles in the parking area. Then continue with the shuttle bus which cost another Rp50.000 for a return trip.'
 'Yes, depending on location and places visited.'
 'Yes, visit to the Tirta Empul Temple are subject to an entrance fee of 50,000 IDR ($ 3.4 USD) per person for adult, and 25,000 IDR ($1.7 USD) per person for kid.'
 'Yes, West Bali National Park Entrance Fee: Rp200. 000 - Rp300. 000 ($ 15 USD - 21 USD) Opening Hours: 08:00 - 18:00 Telp. Number: - Address: Desa Pemuteran , Pemuteran, Buleleng , Jembrana, Bali , Indonesia , 81155'
 'Yes, Garuda Wisnu Kencana Cultural Park Entrance Fee: Rp100.000 - Rp125.000 ($7 - 8.3 USD) Opening Hours: 08:00 - 22:00 WITA '
 'Yes, Starting From Rp 90.000 ($ 6 USD), Openin Hours: 09:00 - 17:00.'
 'Yes, The basic Bali Bird Park ticket costs IDR 385.000 ($ 24.54 USD) per person for adults and IDR 192.500 ($12.27 USD) for children between 2 to 12 years old. Apart from this, the reptile park Bali entrance fee is IDR 100.000 ($ 6.37 USD) for adults and IDR 50.000 (INR 237) for children between 3 to 10 years old.'
 'Yes, Tirtagangga palace entrance fee is Rp50.000 ($ 3.19 USD)  for international tourists. Visitors could swim in the spring water pool with an extra Rp20.000 ($ 1.27 USD).'
 'Yes, visit to the Tegenungan Waterfall are subject to an entrance fee of 15,000 IDR ($ 0.96 USD) per person for adult and 10,000 IDR ($ 0.64 USD) per person for child. Tickets can be purchased at the ticket counter in the parking area in front of the waterfall entrance.'
 'Yes, 10 USD to 45 USD'
 'Yes, However, single days pass costs around IDR 355,000 ($ 22.63 USD) for children who are 2 to 11 years old, IDR 495,000 ($ 31.55 USD) for adults, and IDR 1,565,000 ($ 99.75 USD) for family (2 adults, 2 children). There is a two-day pass also for those who want to visit again.'
 'Campuhan Ridge Walk is a free and easy nature trek, popular among regular visitors in the central highland town of Ubud. This trail presents a pristine outback to escape from the contemporary boutique, guesthouse and restaurant-lined Jalan Raya Ubud.'
 'Yes, the basic Bali Safari and Marine Park entry fee is IDR 720,000 ($ 45.89 USD) for adults and IDR 576,000 ($ 36.71 USD) for children. Apart from this, if one wants to take a pickup service, they have to pay an extra amount of IDR 450,000 ($ 28.68 USD) per car for both ways'
 'Yes, visit to the Bajra Sandhi Monument are subject to an entrance IDR 30,000 for adult and IDR 15,000 for child ($0.96 - 1.91 USD).'
 'Yes, depending on location and places visited.'
 'Yes, 50.000 - 75.000 IDR ($ 3.19 - 4.78 USD)'
 'Yes, starting from 45.000 ($ 2.87 USD).'
 'Yes, starting from 50.000 IDR ($ 3.48 USD).'
 'Yes, starting from IDR 20.000 ($ 1.40 USD).'
 'Yes, starting from IDR 100.000 ($ 6.37 USD).'
 'Yes, starting from IDR 20.000 ($ 1.40 USD).'
 'Yes, parking fee is included ranging from 5000 IDR (car) and IDR 2000 (motorcycle), ($ 0.13 - 0.32 USD).']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [8]:
print(x_train)

[['8.6595° S, 115.1301° E' 4.4]
 ['8.2105° S, 114.9671° E' 4.3]
 ['8° 35\' 27.024" S, 115° 20\' 31.344" E' 4.4]
 ['8°8′S 114°29′E' 4.5]
 ['8.6913° S, 115.1682° E' 4.5]
 ['8° 29′ 4.08″ S, 115° 26′ 41.02″ E' 4.3]
 ['8.3727° S, 115.1933° E' 4.6]
 ['8°22\'07.1"S 115°07\'49.7"E' 4.7]
 ['8° 24′ 52.8″ S, 115° 18′ 57.6″ E' 4.6]
 [' 8°25′19″S, 115°21′32″E' 4.8]
 ['8.7286° S, 115.1694° E' 4.7]
 ['8°14′20″S 115°22′39″E' 4.5]
 ['8° 23′ 29.24″ S, 115° 37′ 52.7″ E' 4.3]
 ['8.4028° S, 115.2880° E' 4.4]
 ['8.5036° S, 115.2547° E' 4.4]
 ['8.5069° S, 115.2625° E' 4.2]
 ['8°36′0″S 115°15′4″E' 4.6]
 ['8°29\'36.9"S 115°14\'21.2"E' 4.5]
 ['8.4123° S, 115.5873° E' 4.6]
 ['8.7941° S, 115.2302° E' 4.6]
 ['8° 16′ 31″ S, 115° 9′ 59″ E' 4.7]
 ['8.5516° S, 115.4688° E' 4.7]
 ['8.4631° S, 115.6307° E' 4.6]
 ['8.5194° S, 115.2606° E' 4.5]
 ['8.6212° S, 115.0868° E' 4.6]]

In [9]:
len(x_train)

25

In [10]:
len(x)

34

In [11]:
len(x_test)

9

In [12]:
len(y)

34

In [13]:
len(y_test)

9

In [14]:
len(y_train)

25

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [16]:
print(x_train)

[['8.6595° S, 115.1301° E' 4.4]
 ['8.2105° S, 114.9671° E' 4.3]
 ['8° 35\' 27.024" S, 115° 20\' 31.344" E' 4.4]
 ['8°8′S 114°29′E' 4.5]
 ['8.6913° S, 115.1682° E' 4.5]
 ['8° 29′ 4.08″ S, 115° 26′ 41.02″ E' 4.3]
 ['8.3727° S, 115.1933° E' 4.6]
 ['8°22\'07.1"S 115°07\'49.7"E' 4.7]
 ['8° 24′ 52.8″ S, 115° 18′ 57.6″ E' 4.6]
 [' 8°25′19″S, 115°21′32″E' 4.8]
 ['8.7286° S, 115.1694° E' 4.7]
 ['8°14′20″S 115°22′39″E' 4.5]
 ['8° 23′ 29.24″ S, 115° 37′ 52.7″ E' 4.3]
 ['8.4028° S, 115.2880° E' 4.4]
 ['8.5036° S, 115.2547° E' 4.4]
 ['8.5069° S, 115.2625° E' 4.2]
 ['8°36′0″S 115°15′4″E' 4.6]
 ['8°29\'36.9"S 115°14\'21.2"E' 4.5]
 ['8.4123° S, 115.5873° E' 4.6]
 ['8.7941° S, 115.2302° E' 4.6]
 ['8° 16′ 31″ S, 115° 9′ 59″ E' 4.7]
 ['8.5516° S, 115.4688° E' 4.7]
 ['8.4631° S, 115.6307° E' 4.6]
 ['8.5194° S, 115.2606° E' 4.5]
 ['8.6212° S, 115.0868° E' 4.6]]

In [17]:
print(x_test)

[['8.7185° S, 115.1686° E' 4.5]
 ['8.5754° S, 115.2888° E' 4.3]
 ['8.6717° S, 115.2339° E' 4.6]
 ['8.5913° S, 115.2659° E' 4.4]
 ['8.8291° S, 115.0849° E' 4.6]
 ['8.5965° S, 115.2826° E' 4.3]
 ['8.4227° S, 115.2788° E' 4.5]
 ['8.8104° S, 115.1676° E' 4.5]
 ['8.3739° S, 115.4522° E' 4.5]]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p=2)
classifier.fit(x_train, y_train)

In [ ]:
y_pred = classifier.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

In [ ]:
from matplotlib.colors import ListedColormap
x_set, y_set = x_train, y_train
x1, x2 = np.meshgrid(np.arage(start=x_set[:, 0].min()-1, stop=x_set[:,0].max()+1, step=0.01)
                     np.arage(start=x_set[:, 1].min()-1, stop=x_set[:,1].max()+1, step=0.01))